<a href="https://colab.research.google.com/github/adolfolh/casuality-classification/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Â ðŸ§½ ***`DATA CLEANING & PREPARATION`***

## **Steps I take to clean and prepare my data for Analysis:**

1. Checking for duplicate data and removing them

2. Removing extra spaces and blanks

3. Separating or combining values in a cell when needed

4. Checking that the values in certain columns are of an appropriate range

5. Checking for outliers

6. Correcting wrongly spelt or inputted data

7. Adding new and relevant rows to your data

8. Checking for null values and retrieving records based on other conditions if initial condition is missing.

9. Checking if your values follow the accurate pattern.

In [ ]:
# Run to download data
!wget https://github.com/adolfolh/casuality-classification/raw/main/data/casualties-2020.csv

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
# Import data
raw_data = pd.read_csv("casualties-2020.csv", dtype={
    "accident_index" : "string",
    "accident_reference" : "string",
    "casualty_class" : "category",
    "sex_of_casualty" : "category",
    "age_band_of_casualty" : "category",
    "casualty_severity" : "category",
    "pedestrian_location" : "category",
    "pedestrian_movement" : "category",
    "car_passenger" : "category",
    "bus_or_coach_passenger" : "category",
    "pedestrian_road_maintenance_worker" : "category",
    "casualty_type" : "category",
    "casualty_home_area_type" : "category",
    "casualty_imd_decile" : "category"
    })

In [26]:
raw_data.head()

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,2020010219808,2020,010219808,1,1,3,1,31,6,3,9,5,0,0,0,0,1,4
1,2020010220496,2020,010220496,1,1,3,2,2,1,3,1,1,0,0,0,0,1,2
2,2020010220496,2020,010220496,1,2,3,2,4,1,3,1,1,0,0,0,0,1,2
3,2020010228005,2020,010228005,1,1,3,1,23,5,3,5,9,0,0,0,0,1,3
4,2020010228006,2020,010228006,1,1,3,1,47,8,2,4,1,0,0,0,0,1,3

### 1. Checking for duplicate data and removing them

In [25]:
dupl = raw_data.duplicated()
dupl.groupby(dupl).size()

False    115584
dtype: int64

There is no duplicate data in the dataset.

### 2. Removing extra spaces and blanks

A priori, the dataset does not seem to need this.

### 3. Separating or combining values in a cell when needed

### 4. Checking that the values in certain columns are of an appropriate range

### 5. Checking for outliers